<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Identity.Client" version="4.69.1" />
  <package id="Microsoft.Identity.Client.Desktop" version="4.69.1" />
  <package id="Microsoft.Identity.Client.Broker" version="4.69.1" />
  <package id="Microsoft.Web.WebView2" version="1.0.3124.44" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.6.1" />
  <package id="Microsoft.Identity.Client.NativeInterop" version="0.18.1" />
</packages>